[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
pytest = "*"
black = "==18.9b0"
"flake8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
