[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
pytest = "*"
"flake8" = "*"
click = "*"

[dev-packages]
black = "==18.9b0"

[requires]
python_version = "3.7"
